body { margin: 0; }
canvas { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
/*a[href="http://zigfu.com/watermark"] { opacity: 0; }*/
.buttonContainer { position: absolute; width: 100%; top: 0; height: 20px; z-index: 1;  text-align: right; }
#fps { position: absolute; width: 100px; top: 0; left: 0; z-index: 1; color: green; }

#recordListContainer { position: absolute; width: 100px; top: 0; left: 0; height: 100%; z-index: 2; }
#recordListContainer button { width: 100%; border-radius: 5px; border: 1px solid #333; }
#recordList { width: 100%; height: 50%; }

.histogramContainer { width: 570px; z-index: 1; position: absolute; bottom: 100px; right: 0; }
.histogramBar { display: inline-block; vertical-align: bottom; width: 5px; background: orange; height: 1px; }
div[id^="histogramBarT"] { background: blue; }
div[id^="histogramBarP"] { background: cornflowerblue; }
.histogramBar:nth-child(3n+1) { margin-left: 10px; }

.limit {
    position: absolute;
    left: 0;
    right: 0;
    border-top: 1px dashed black;
    z-index: -1;
    bottom: 100px;
}

.transparentHeight {
    display: inline-block; 
    vertical-align: bottom; 
    width: 5px;
    height: 110px;
    opacity: 0;
}

#actionName { position: absolute; bottom: 0; left: 0; font-family: sans-serif; font-size: 40px; color: green; z-index: 1; }
